h1 {
    text-align: center;
    transform: rotate(90);
}
body {
    background-color: lightblue;
    color: black;
    font-family: "Arial";
}
div.obj-text {
    text-align: right;
}
div.Education {
    /*font-family: "Calibri";*/
    text-indent: left;
}
img{
    /*border-radius: 50%;*/
    margin: auto;
    display: block;
}
p {
    text-align: left;
}
