html {
    overflow: hidden;
    height: 100%
}
body {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    height: 100%;
    /*overflow: hiddden;*/
    background-color: #bf8040;
    color: #1f1f1f;
    font-family: "Lato", sans-serif;
}
div.tab {
    overflow: hidden;
    border: none;
    background-color: transparent;
    outline: none;
    width: 350px;
    height: 45px;
    margin: auto;
    padding-top: 0px;
    position: fixed;
    top: 255px;
    left: 515px;
}
div.tab button {
    background-color: transparent;
    font-size: 20px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
div.tab button.active {
    background-color: transparent;
}
div.tab button:hover {
    background-color: transparent;
}
div.tabclose {
    float: right;
    cursor: pointer;
    font-size: 30px;
}
div.tabclose:hover {
    color: red;
}
div.title {
    display: block;
    margin:auto;
    padding-top: 25px;
    width: 37 px;
    text-align: center;
    transform: scale(1.8,1.8);
    font-size: 20px;
}
div.tabcontent {
    background-color: transparent;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    color: inherit;
    border: none;
    width: 500px;
    height: 100px;
    margin: auto;
    /*border-top: none;*/
}
div.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 1024px;
    height: 734px;
    margin: auto;
}
div.flex-item {
    width: 600px;
    height: 500px;
    margin: 1px;
    /*padding-left: 100px;*/
}
div.links {
    /*display: block;*/
    margin: auto;
    padding-top: 15px;
    width: 100px;
    position: fixed;
    left: 625px;
    top: 175px;
}
img{
    /*border-radius: 50%;*/
    margin: auto;
    display: block;
}
div.aboutme {
    text-align: center;
}
p {
    text-align: left;
}
