html {
    overflow: hidden;
    height: 100%
}
body {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-color: #bf8040;
    height: 100%;
    color: #1f1f1f;
    font-family: "Lato", sans-serif;
}
div.tab {
    border: none;
    background-color: transparent;
    outline: none;
    width: 350px;
    height: 45px;
    margin: auto;
    padding-top: 0px;
}
div.tab button {
    background-color: transparent;
    font-size: 20px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    margin:auto;
    padding: 14px 16px;
}
div.title {
    display: block;
    margin:auto;
    padding-top: 35px;
    width: 500px;
    text-align: center;
    transform: scale(1.8,1.8);
    font-size: 20px;
}
div.link-container {
    margin: auto;
    padding-top: 30px;
    width: 100px;
    left: 625px;
    top: 175px;
}
