/*html {
    overflow: hidden;
    height: 100%
}*/
body {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-color: lightblue;
    height: 100%;
    color: #00254C;
    font-family: "Lato", sans-serif;
}
.title {
    display: block;
    margin:auto;
    padding-top: 35px;
    width: 500px;
    text-align: center;
    transform: scale(1.8,1.8);
    font-size: 20px;
}
.link-container {
    margin: auto;
    padding-top: 40px;
    width: 130px;
    left: 625px;
    top: 175px;
}
.link {
    margin: 5px;
    width: 50px;
    height: 50px;
}
.tab {
    border: none;
    background-color: transparent;
    outline: none;
    width: 335px;
    height: 45px;
    margin: auto;
    padding-left: 25px;
}
.tab button {
    background-color: transparent;
    font-size: 22px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    margin: auto;
    padding: 12px 14px;
    margin-right: 5px;
    transition-duration: 0.5s;
}
.tab button:hover {
    background-color: gray;
    background-color: rgba(0, 0, 0, 0.1);
}
a.site-links {
    font-size: 24px;
}
a.site-links:link {
    color: #00254C;
    text-decoration: none;
    transition-duration: 0.5s;
}
a.site-links:visited {
    color: #00254C;
    text-decoration: none;
}
a.site-links:hover {
    color: green;
    text-decoration: none;
}
a.site-links:active {
    color: red;
    text-decoration: none;
    transition-duration: 0s;
}
