html {
    margin: auto;
    width: 80%;
}
body {
    background-color: #9fbfd7;
    /*background-image: url("../images/arabesque.png");*/
    color: #1f1f1f;
    font-family: "Lato", sans-serif;
    font-size: 17px;
}
h1 {
    color: #00254C;
    font-size: 70px;
    text-align: center;
}
h2 {
    color: #00254C;
}
.sub-header {
    color: white;
}
hr {
    border-style: dashed;
}
.laptop {
    display: none;
}
.hess-images {
    height: 535px;
    width: 650px;
}
.bs-images {
    height: 1100px;
    width: 650px;
}
.gba-images {
    height: 500px;
    width: 650px;
}
.math-images {
    height: 700px;
    width: 650px;
}
/* Slideshow container */
.bs-slideshow-container {
  margin: auto;
  max-width: 655px;
  position: relative;
}
.gba-slideshow-container {
    margin: auto;
    max-width: 650px;
    position: relative;
}
.math-slideshow-container {
    margin: auto;
    max-width: 655px;
    position: relative;
}
.hess-slideshow-container {
    margin: auto;
    max-width: 650px;
    position: relative;
}
/* Next & previous buttons */
.bs-prev,.gba-prev,.bs-next,.gba-next,.math-prev,.math-next, .hess-prev,.hess-next{
  border-radius: 0 3px 3px 0;
  color: black;
  cursor: pointer;
  font-size: 70px;
  font-weight: bold;
  margin-top: -22px;
  padding: 16px;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
  width: auto;
}
.hess-prev,.hess-next {
    top: 40%;
}
.gba-prev,.gba-next {
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    color: white;
    margin-top: 0;
    padding: 0 5px;
    top: 40%;
}
/* Position the "next button" to the right */
.bs-next,.gba-next,.math-next,.hess-next {
  border-radius: 3px 0 0 3px;
  right: 0;
}
/* Caption text */
.text {
  color: black;
  font-size: 17px;
  padding: 8px 12px;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 17px;
  padding: 8px 12px;
  text-align: center;
}

/* The dots/bullets/indicators */
.bs-dot, .gba-dot, .math-dot, .hess-dot {
  background-color: #bbb;
  border-radius: 50%;
  cursor:pointer;
  display: inline-block;
  height: 30px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  width: 30px;
}
.active, /*.bs-dot:hover,*/ .gba-dot:hover, .math-dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -moz-animation-duration: 1.5s;
  -moz-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: fade;
  animation-duration: 1.5s;
  animation-name: fade;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.gba-info, .bsnap-info, .math-info, .hess-info {
    text-align: justify;
}
.image-container {
    text-align: center;
}
.images {
    display: inline-block;
}
.gh-link:link, .hess-link {
    color: black;
}
.gh-link:hover, .hess-link {
    color: green;
}
.gh-link:visited, .hess-link {
    color: black;
}
.gh-link:active, .hess-link {
    color: red;
}
footer {
    /*position: relative;*/
    /*bottom: 5px;*/
    height: 30px;
    margin: auto;
    width: 100%;
}
.footerbox {
    font-size: 30px;
    height: 43px;
    margin: auto;
    text-align: center;
    width: 320px;
}
a.site-links {
    background-color: gray;
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
}
a.site-links:link {
    color: green;
    text-decoration: none;
    transition-duration: 0.5s;
}
a.site-links:visited {
    color: white;
    text-decoration: none;
}
a.site-links:hover {
    color: green;
    text-decoration: none;
}
a.site-links:active {
    color: red;
    text-decoration: none;
    transition-duration: 0s;
}
