html {
    width: 80%;
    margin: auto;
}
body {
    background-color: #b3e6ff;
    background-image: url("../images/arabesque.png");
    color: #1f1f1f;
    font-family: "Lato", sans-serif;
    font-size: 17px;
}
h1 {
    text-align: center;
    font-size: 40px;
}
hr {
    border-style: dashed;
}
.mobile {
    display: none;
}
.gba-info, .bsnap-info {
    text-align: justify;
}
.image-container {
    text-align: center;
}
.images {
    display: inline-block;
}
.gba-link:link {
    color: black;
}
.gba-link:hover {
    color: green;
}
.gba-link:visited {
    color: black;
}
.gba-link:active {
    color: red;
}
footer {
    position: relative;
    bottom: 10px;
    margin: auto;
    width: 100%;
    height: 30px;
}
.footerbox {
    text-align: center;
    font-size: 15px;
    margin: auto;
    width: 400px;
    height: 20px;
}
a.site-links {
    padding: 5px;
    background-color: gray;
    background-color: rgba(0,0,0,0.7);
}
a.site-links:link {
    color: green;
    text-decoration: none;
    transition-duration: 0.5s;
}
a.site-links:visited {
    color: white;
    text-decoration: none;
}
a.site-links:hover {
    color: green;
    text-decoration: none;
}
a.site-links:active {
    color: red;
    text-decoration: none;
    transition-duration: 0s;
}
