html {
    height: 100%;
}
body {
    background-image:  url("../images/transparent.png"), url("../images/tech.jpg");
    background-size: cover, cover;
    background-color: lightblue;
    color: white;
    font-family: "Lato", sans-serif;
}
h1 {
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 15px;
    margin-left: auto;
    width: 100%;
}
div.flex-container {
    display: flex;
}
div.flex-item-1 {
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
    top: -20px;
}
div.flex-item-2 {
    background-color: rgba(0,0,0,0.3);
    width: 450px;
    height: 300px;
    margin: auto;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: -50px;
    left: 100px;
}
img.main {
    margin: auto;
    transform: scale(1.2,1.2);
    position: relative;
    left: 65px;
    top: 100px;
}
div.text {
    position: relative;
    top: 20px;
    text-align: center;
    padding: 20px;
}
footer {
    position: fixed;
    bottom: 15px;
    /*margin: auto;*/
    width: 98%;
    height: 30px;
}
div.footerbox {
    text-align: center;
    font-size: 15px;
    margin: auto;
    width: 400px;
    height: 20px;
}
a.site-links {
    padding: 5px;
    background-color: rgba(0,0,0,0.7);
}
a.site-links:link {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
a.site-links:visited {
    color: white;
    text-decoration: none;
}
a.site-links:hover {
    color: green;
    text-decoration: none;
}
a.site-links:active {
    color: red;
    text-decoration: none;
    transition-duration: 0s;
}
