html {
    height: 100%;
    overflow: hidden;
    width: 100%
}
body {
    background-image:  url("../images/transparent.png"), url("../images/tech-m.jpg");
    background-size: cover, cover;
    background-color: lightblue;
    color: white;
    font-family: "Lato", sans-serif;
}
h1 {
    color: rgba(0,0,0,0.55);
    text-align: center;
    font-size: 80px;
    position: relative;
    top: 60px;
}
.laptop {
    display: none;
}
.mobile {
    display: inline-block;
    margin: auto;
}
.flex-container {
    display: flex;
}
.flex-item-1 {
    /*background-color: white;*/
    width: 500px;
    height: 500px;
    margin: auto;
    /*position: relative;*/
    /*top: 60px;*/
}
.flex-item-2 {
    background-color: gray;
    background-color: rgba(0,0,0,0.3);
    width: 900px;
    height: 570px;
    margin: auto;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: -90px;
    /*left: 80px;*/
}
.main {
    margin: auto;
    /*width: auto;*/
    /*height: auto;*/
    transform: scale(1.5,1.5);
    position: relative;
    left: 135px;
    top: 100px;
}
.text {
    position: relative;
    top: 20px;
    text-align: left;
    padding: 0 20px;
    font-size: 22px;
}
a.gh-link {
    color: white;
}
a.gh-link:link {
    color: white;
    transition-duration: 0.5s;
}
a.gh-link:visited {
    color: white;
}
a.gh-link:hover {
    color: black;
}
a.gh-link:active {
    color: red;
    transition-duration: 0s;
}
footer {
    position: fixed;
    bottom: 30px;
    margin: auto;
    width: 100%;
    height: 30px;
}
.footerbox {
    text-align: center;
    font-size: 30px;
    margin: auto;
    width: 400px;
    height: 20px;
}
a.site-links {
    padding: 5px;
    background-color: black;
    background-color: rgba(0,0,0,0.7);
}
a.site-links:link {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
a.site-links:visited {
    color: white;
    text-decoration: none;
}
a.site-links:hover {
    color: green;
    text-decoration: none;
}
a.site-links:active {
    color: red;
    text-decoration: none;
    transition-duration: 0s;
}
