html {
    height: 100%;
    overflow: hidden;
}
body {
    background-image:  url("../images/transparent.png"), url("../images/tech.jpg");
    background-size: cover, cover;
    background-color: lightblue;
    color: white;
    font-family: "Lato", sans-serif;
}
h1 {
    color: gray;
    color: rgba(0,0,0,0.55);
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 15px;
    margin-left: auto;
    width: 100%;
}
.mobile {
    display: none;
}
.flex-container {
    display: flex;
}
.flex-item-1 {
    display: inline-block;
    /*width: 500px;*/
    /*height: 500px;*/
    /*margin: auto;*/
    position: fixed;
    top: 35%;
    right: 25%;
}
.flex-item-2 {
    background-color: gray;
    background-color: rgba(0,0,0,0.3);
    width: 560px;
    height: 460px;
    margin: auto;
    font-size: 16px;
    /*text-align: left;*/
    position: fixed;
    top: 22%;
    left: 10%;
}
.main {
    /*margin: auto;*/
    transform: scale(1.2,1.2);
    /*position: relative;*/
    /*left: 65px;*/
    /*top: 100px;*/
}
.text {
    /*position: relative;
    top: 20px;*/
    text-align: left;
    padding: 22px 20px;
}
a.gh-link {
    color: white;
}
a.gh-link:link {
    color: white;
    transition-duration: 0.5s;
}
a.gh-link:visited {
    color: white;
}
a.gh-link:hover {
    color: black;
}
a.gh-link:active {
    color: red;
    transition-duration: 0s;
}
footer {
    position: fixed;
    bottom: 15px;
    /*margin: auto;*/
    width: 98%;
    height: 30px;
}
.footerbox {
    text-align: center;
    font-size: 15px;
    margin: auto;
    width: 400px;
    height: 20px;
}
a.site-links {
    padding: 5px;
    background-color: gray;
    background-color: rgba(0,0,0,0.7);
}
a.site-links:link {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
a.site-links:visited {
    color: white;
    text-decoration: none;
}
a.site-links:hover {
    color: green;
    text-decoration: none;
}
a.site-links:active {
    color: red;
    text-decoration: none;
    transition-duration: 0s;
}
