html {
    height: 100%;
    overflow: hidden;
}
body {
    background-color: #8bacbb;
    background-image: url("../images/transparent.png"), url("../images/tech.jpg");
    background-size: cover, cover;
    color: white;
    font-family: "Lato", sans-serif;
}
.gt-text {
    color: #E0B872;
}
.header {
    color: #dcdad6;
}
h1 {
    color: gray;
    color: #00254C;
    font-size: 50px;
    margin-left: auto;
    position: relative;
    text-align: center;
    top: 15px;
    width: 100%;
}
.mobile {
    display: none;
}
.flex-container {
    display: flex;
}
.flex-item-1 {
    display: inline-block;
    /*height: 500px;*/
    /*margin: auto;*/
    position: fixed;
    right: 20%;
    top: 30%;
    /*width: 500px;*/
}
.flex-item-2 {
    background-color: gray;
    background-color: rgba(0,0,0,0.3);
    font-size: 16px;
    height: 430px;
    left: 10%;
    margin: auto;
    position: fixed;
    /*text-align: left;*/
    top: 22%;
    width: 560px;
}
.main {
    /*bottom: 30px;*/
    /*height: 300px;*/
    /*left: 65px;*/
    /*margin: auto;*/
    position: relative;
    transform: scale(1,1.0);
    /*width: 300px;*/
}
.text {
    padding: 22px 20px;
    /*position: relative;*/
    text-align: left;
    /*top: 20px;*/
}
a.cur-proj {
    color: #E0B872;
}
a.cur-proj:link {
    color: #E0B872;
    transition-duration: 0.5s;
}
a.cur-proj:visited {
    color: #E0B872;
}
a.cur-proj:hover {
    color: black;
}
a.cur-proj:active {
    color: red;
    transition-duration: 0s;
}
a.gh-link {
    color: #E0B872;
}
a.gh-link:link {
    color: #E0B872;
    transition-duration: 0.5s;
}
a.gh-link:visited {
    color: #E0B872;
}
a.gh-link:hover {
    color: black;
}
a.gh-link:active {
    color: red;
    transition-duration: 0s;
}
footer {
    bottom: 15px;
    height: 30px;
    left: 1%;
    /*margin: auto;*/
    position: fixed;
    width: 98%;
}
.footerbox {
    font-size: 15px;
    height: 20px;
    margin: auto;
    text-align: center;
    width: 400px;
}
a.site-links {
    background-color: gray;
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
}
a.site-links:link {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
a.site-links:visited {
    color: white;
    text-decoration: none;
}
a.site-links:hover {
    color: green;
    text-decoration: none;
}
a.site-links:active {
    color: red;
    text-decoration: none;
    transition-duration: 0s;
}
