html {
    height: 100%;
}
body {
    background-image:  url("../images/transparent.png"), url("../images/tech-m.jpg");
    background-size: cover, cover;
    background-color: lightblue;
    color: black;
    font-family: "Lato", sans-serif;
}
h1 {
    text-align: center;
    font-size: 80px;
    position: relative;
    top: 60px;
}
div.flex-container {
    display: flex;
}
div.flex-item-1 {
    /*background-color: white;*/
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
    top: 60px;
}
div.flex-item-2 {
    background-color: rgba(0,0,0,0.15);
    /*opacity: 0.5;*/
    width: 450px;
    height: 480px;
    margin: auto;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 70px;
    left: 80px;
    /*padding-right: 50px;*/
}
img.main {
    margin: auto;
    /*width: auto;*/
    /*height: auto;*/
    transform: scale(1.2,1.2);
    position: relative;
    left: 155px;
    top: 100px;
    /*padding-left: 150px;*/
    /*padding-right: 30px;*/
    /*padding-top: 100px;*/
}
/*img.wreck {
    position: relative;
    margin: auto;
    top: -30px;
    transform: scale(0.5,0.5)
}*/
div.text {
    position: relative;
    top: 20px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
/*img.img-2 {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 115px;
    padding-left: 40px;
    padding-right: 40px;
    transform: scale(1.2,1.2);
}*/
footer {
    position: fixed;
    bottom: 15px;
    margin: auto;
    width: 100%;
    height: 30px;
}
div.footerbox {
    text-align: center;
    font-size: 15px;
    margin: auto;
    width: 400px;
    height: 20px;
}
a.site-links {
    padding: 5px;
    background-color: rgba(0,0,0,0.7);
}
a.site-links:link {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
a.site-links:visited {
    color: white;
    text-decoration: none;
}
a.site-links:hover {
    color: green;
    text-decoration: none;
}
a.site-links:active {
    color: red;
    text-decoration: none;
    transition-duration: 0s;
}
