body {
    background-color: #8bacbb;
    color: #1f1f1f;
    font-family: "Lato", sans-serif;
    font-size: 1.3vw;
}
h2 {
    -webkit-margin-after: 0;
}
hr {
    border-style: solid;
}
.no-show {
    display: none;
}
.mobile {
    text-align: center;
    margin: auto;
    padding-top: 2vh;
}
.resume {
    width: 90%;
    /*height: 100%;*/
}
.laptop {
    display: none;
}
.plugin {
    display: none;
}
.top {
    text-align: center;
}
.linkedin {
    height: 80px;
    width: 80px;
}
/*button {
    width: 130px;
    height: 40px;
}*/
.resume-btn {
    background-color: gray;
    background-color: rgba(0,0,0,0.1);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin: auto;
    outline: none;
    padding: 12px 12px;
    text-align: center;
    transition-duration: 0.5s;
}
.resume-btn:hover {
    background-color: gray;
    background-color: rgba(0,0,0,0.25);
    transition-duration: 0.5s;
}
.text {
    font-size: 12px;
}
a.resume:active {
    color: black;
    cursor: default;
    text-decoration: none;
}
a.resume:link {
    color: black;
    cursor: default;
    text-decoration: none;
}
a.resume:visited {
    color: black;
    cursor: default;
    text-decoration: none;
}
a.resume:hover {
    color: black;
    cursor: default;
    text-decoration: none;
}
.bullets {
    padding-left: 30px;
}
a.beesnap:active {
    color: green;
}
a.beesnap:link {
    color: green;
}
a.beesnap:visited {
    color: inherit;
}
a.beesnap:hover {
    color: green;
}
.left {
    float:left;
    font-size: 25px;
}
.right {
    float: right;
    font-size: 25px;
}
.color {
    color: red;
}
footer {
    bottom: 5px;
    height: 30px;
    margin: auto;
    position: relative;
    width: 90%;
}
.footerbox {
    font-size: 30px;
    height: 20px;
    margin: auto;
    text-align: center;
    width: 400px;
}
a.site-links {
    background-color: gray;
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
}
a.site-links:link {
    color: green;
    text-decoration: none;
    transition-duration: 0.5s;
}
a.site-links:visited {
    color: white;
    text-decoration: none;
}
a.site-links:hover {
    color: green;
    text-decoration: none;
}
a.site-links:active {
    color: red;
    text-decoration: none;
    transition-duration: 0s;
}
