body {
    background-color: lightblue;
    color: #1f1f1f;
    font-family: "Lato", sans-serif;
}
div.bullets {
    /*text-align: center;*/
    padding-left: 30px;
}
.left {
    float:left;
}
.right {
    float: right;
}
div.color {
    color: red;
    /*font-size: 18px;*/
    margin: none;
    width: none;
}
a:active {
    color: green;
}
a:link {
    color: green;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: green;
}
