body {
    background-color: #b3e6ff;
    color: #1f1f1f;
    font-family: "Lato", sans-serif;
}
div.text {
    font-size: 16px;
}
div.bullets {
    /*text-align: center;*/
    padding-left: 30px;
}
a.beesnap:active {
    color: green;
}
a.beesnap:link {
    color: green;
}
a.beesnap:visited {
    color: inherit;
}
a.beesnap:hover {
    color: green;
}
.left {
    float:left;
    margin-top: none;
    margin-bottom: none;
}
.right {
    float: right;
    margin-top: none;
    margin-bottom: none;
}
div.color {
    color: red;
    /*font-size: 18px;*/
    margin: none;
    width: none;
}
footer {
    position: relative;
    bottom: 5px;
    margin: auto;
    width: 90%;
    height: 30px;
}
div.footerbox {
    text-align: center;
    font-size: 15px;
    margin: auto;
    width: 400px;
    height: 20px;
}
a.site-links {
    padding: 5px;
    background-color: rgba(0,0,0,0.7);
}
a.site-links:link {
    color: green;
    text-decoration: none;
    transition-duration: 0.5s;
}
a.site-links:visited {
    color: white;
    text-decoration: none;
}
a.site-links:hover {
    color: green;
    text-decoration: none;
}
a.site-links:active {
    color: red;
    text-decoration: none;
    transition-duration: 0s;
}
